@model IEnumerable<Student>

@{
    ViewData["Title"] = "Students Page";
    Layout = "_AdminLayout";
    var appointment = ViewData["appointment"] as IEnumerable<Appointment>;
}
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href=" https://cdn.datatables.net/buttons/2.3.5/css/buttons.dataTables.min.css" />

    <script href=" https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.print.min.js"></script>
</head>


<!-- Main content -->
<section class="content  text-dark">
    <div class="container-fluid">

        <style>
            .img-avatar {
                width: 45px;
                height: 45px;
                object-fit: cover;
                object-position: center center;
                border-radius: 100%;
            }
        </style>
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">List of System Users</h3>
                <div class="card-tools">
                    <a id="create_new" class="btn btn-flat btn-primary" data-toggle="modal" data-target="#staticBackdrop"><span class="fas fa-plus"></span>  Upload Students</a>

                </div>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="container-fluid">
                        <table id="example" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>FullName</th>
                                    <th>Matric</th>
                                    <th>Department</th>
                                    <th>Email</th>
                                    <th>Level</th>
                                    <th>Contact</th>
                                    <th>Appointment</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.StudentId</td>
                                        <td><p class="m-0 truncate-1">@item.MatricNo</p></td>
                                        <td>@item.FullName</td>
                                        <td>@item.Department</td>
                                        <td>@item.Email</td>
                                        <td>@item.Level</td>
                                        <td>@item.Contact</td>
                                        @if (@item.Appointment == "Scheduled")
                                        {
                                            <td class="text-center">
                                                <span class="badge badge-success">@item.Appointment</span>
                                            </td>
                                        }
                                        else if (@item.Appointment == "Not_Scheduled")
                                        {
                                            <td class="text-center">
                                                <span class="badge badge-primary">@item.Appointment</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center">
                                                <span class="badge badge-danger">---</span>
                                            </td>
                                        }
                                        <td align="center">
                                            <button type="button" class="btn btn-flat btn-default btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                Action
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item schedule_data" onclick="start_loader();" asp-controller="admin" asp-action="schedule" asp-route-studentId="@item.StudentId"><span class="fa fa-calendar text-secondary"></span> Schedule</a>
                                                <div class="dropdown-divider"></div>
                                                @*<a class="dropdown-item view_data" onclick="start_loader();" data-id="@item.StudentId"><span class="fa fa-edit text-primary"></span> Edit</a>*@
                                                @*<a class="dropdown-item delete_data" onclick="start_loader();" href="javascript:void(0)" data-id="@item.StudentId"><span class="fa fa-trash text-danger"></span> Delete</a>*@
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="admin" asp-action="addstudents" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add List of Students</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="modal-body text-light">
                        <div class="col-6">
                            <div class=" mb-3">
                                <label for="file" class="control-label">Upload Csv File</label>
                                <input type="file" name="File" accept=".csv" class="form-control" required="">
                            </div>

                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" onclick="start_loader();" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'B<"clear">lfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':not(:eq(8))'
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':not(:eq(8))'
                    }
                }
            ]
        });
    });
</script>